.food-images{
  transition:0.4s;
}


.food-images:hover{
  transform: scale(1.2); /* Zoom effect */
}


.banner{
 width: 100%;
 height: 560px;
 margin-top: 87px;

}


.footerheading{
font-size: 25px;
color: orangered;
}

.footertext{
font-size: 15px;
font-weight: 500;
}

.footerdownloadtext{
font-size: 25px;
margin-right: 50px;
padding: 10px;
text-align: center;
}

.foodieapp{
color:orangered;
}
